<!doctype html>
<html>
<head>
    <title>Kkeith & Nikki's Wedding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link href="responsive.css" rel="stylesheet">
    <script src="main.js"></script>
</head>
<body>
    <div data-role="page" style="background: #F7E7CE">
 
        <div data-role="header">
            <h1 style="white-space:normal">Keith & Nikki's Wedding App</h1>
        </div><!-- /header -->
        <div class="ui-body ui-body-a ui-corner-all" >
			   <img src="images/main.jpg" alt="Florence Italy" style="margin:20px; position:relative" />
               <p>Welcome to Keith and Nikkis wedding app! You will find lots of good information about the wedding and please select your meals for the reception. We look forward to seeing your there!<p>
           </div>
 
        <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true" >
               <li><a href="form.html">Dinner Selection</a></li>
               <li><a href="venue.html">Venue</a></li>
               <li><a href="slider.html" data-ajax="false">Pictures (Swipe Right on Picture)</a></li>
           </ul>
        </div><!-- /content -->
 
    </div><!-- /page -->
</body>
</html>
