<!doctype html>
<html>
<head>
    <title>Kkeith & Nikki's Wedding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link href="responsive.css" rel="stylesheet">
    <script src="icsFormatter.js"></script>
    <script src="main.js"></script>
</head>
<body>
    <div data-role="page" style="background: #F7E7CE">
 
        <div data-role="header" data-theme="e">
            <h1 style="white-space:normal">K&N Wedding App</h1>
            <div id="basicICal" >
            <a  data-role="button" class="ui-btn-right" data-icon="calendar">Calendar</a>
            <a  data-role="button" class="ui-nosvg ui-btn-left" data-icon="myicon">Visit Cnt</a>
        </div><!-- /header -->
        <div class="ui-body ui-body-a ui-corner-all" >
			   <img src="images/main.jpg" alt="Florence Italy" style="margin:20px; position:relative" />
               <p style="margin: 0;  padding: 0 auto">Welcome to Keith and Nikki's wedding app! You will find lots of good information about the wedding and please select your meals for the reception. We look forward to seeing you there!<p>
           </div>
 
        <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true" style="margin: 0;  padding: 0 auto">
               <li><a href="rsvp.html" data-ajax="false">RSVP</a></li>
               <li><a href="venue.html" data-ajax="false">Venue</a></li>
               <li><a href="slider.html" data-ajax="false">Pictures (Swipe Right)<span class="ui-li-count">15</span></a></li>
               <li><a href="keithfamilyslider.html" data-ajax="false">Keith's Family<span class="ui-li-count">7</span></a></li>
               <li><a href="nikkifamilyslider.html" data-ajax="false">Nikki's Family<span class="ui-li-count">3</span></a></li>
               <li><a href="weddingpartyslider.html" data-ajax="false">Wedding Party<span class="ui-li-count">3</span></a></li>
           </ul>
        </div><!-- /content -->
 
    </div><!-- /page -->
</body>
</html>
